<div class="container">
  <h1>Empezando en el Desarrollo Web 2020</h1>
  <strong>Este articulo tiene el objetivo de guiarte para empezar en el Desarrollo Web</strong>
  <p>
    Antes de empezar en el desarrollo web tienes que saber lo que se necesita para desarrollar una pagina web basica, y las
    partes para desarrollar una pagina web mas complejas. Hay mucho que aprender pero esto es lo básico que debes saber
    si quieres empezar en esto.
  </p>

  <div class="div-area">
    <h2>¿Que se nesecita para crear una pagina web?</h2>
    <p class="resaltado">
      Esto es lo básico que necesitas aprender para crear una página web, sin esto es casi imposible o imposible
      crear una web.
    </p>

    <div class="">
      <h4 class="subtitle">Editor de Código</h4>
      <p>
        Aquí es donde vas a escribir el código de tu web, existen muchos editores de codigo como
         Sublime text, Atom, Visual Studio Code, etc. No hace falta que elijas el mejor, la mayoría
        cumplen bien su función quedate con el que más te guste o se te haga cómodo.
      </p>
    </div>

    <div class="">
      <h4 class="subtitle">Apariencia:</h4>
      <p>
        Para crear la apariencia de una web se necesita HTML(para darle estructura a la web) y CSS(Para darle estilos a la web).
      </p>

      <strong>HTML:</strong>
      <p>
      Siglas en inglés de HyperText Markup Language
      , hace referencia al lenguaje de <strong>marcado (HTML no es un lenguaje de programación)</strong>
      para la elaboración de la estructura de una páginas web.  Si quieres conocer los conceptos básico de HTML
      puedes ir <a class="resaltado" target="_blank" href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics">aquí</a>.
      </p>
      <p>
      <span class="resaltado">Ejemplo:</span>  esta página web está hecha con etiquetas como <strong>{{etiquetas}}</strong>
      que representa un parrafo, dentro de el he escrito esto que estas leyendo.

      </p>

      <div id="img" style="background: #ff6620;">
        <img src="assets/img/des-principiantes/html.jpg" alt="Como agregar un estilo CSS">
      </div>

      <strong>CSS:</strong>
      <p>
        En español <strong>Hojas de estilo en cascada</strong>, es un lenguaje de diseño gráfico para definir aspecto de una página web y
        crear la presentación de esta.​ Básicamente se utiliza para que una web se vea mejor.
      </p>

      <p>
      <span class="resaltado">Ejemplo:</span> Este es el ejemplo mas básico del Mundo, se puede hacer mas complejas con CSS como el
      <span class="resaltado" (click)="scroll()" style="cursor: pointer; color: #3d7bff;">footer </span> de esta pagina.
      </p>

      <div id="img" style="background: #ff6620;">
        <img src="assets/img/des-principiantes/img8.jpg" alt="Como agregar un estilo CSS">
      </div>

      <div class="resultado">
        <h5 class="resaltado-h2">Texto resaltado</h5>
      </div>

      <strong>No te preocupes si no has entendido esto, con un poco de práctica en poco tiempo puedes aprender facilmente estos conceptos.</strong>

    </div>

    <div class="">
      <h4 class="subtitle">JavaScript</h4>

      <p>
        JavaScript <strong>NO</strong> es Java, es un lenguaje de programación que se utiliza principalmente para crear páginas web dinámicas.
        Una página web dinámica es aquella que incorpora efectos como texto que aparece y desaparece, animaciones,
        acciones que se activan al pulsar botones y ventanas con mensajes de aviso al usuario.
      </p>

      <p>
      <span class="resaltado">Ejemplo:</span> Este es un ejemplo básico de JavaScript, has click en el boton de abajo para ver el ejemplo.
      </p>

      <div class="BJS" (click)="cambiaColor()">
        <h2 id="demo" style="color: white;">JS</h2>
      </div>

    </div>

    <span style="font-size: 22px; margin-top: 30px; font-weight: 500; display: block;">Sabiendo estos conceptos ya puedes crear una pagina web básica.</span>

  </div>


  <div class="div-area">
    <h2 style="border-bottom: 1px solid #ccc;">¿Como empezar en el desarrollo web en 2020?</h2>
    <p>
      Para empezar,  el desarrollo web se divide en dos partes: lado del cliente (Front-End)
      y lado del servidor (Back-End). Acá abajo te dejo un ejemplo muy simplificado de los dos. Tienes que saber que el
      desarrollo web es muy amplio y este articulo solo es para guiarte por donde empezar.
    </p>

    <div style="margin-top: 20px; margin-bottom: 20px;" class="card-group">
      <div class="card" style="width: 100%">
        <img src="assets/img/des-principiantes/front.jpg" class="card-img-top" alt="Ejemplo Front-End">
        <div class="card-body">
          <h5 class="card-title">Front-End</h5>
          <p class="card-text">
            Es la parte visual de la aplicación web, es la parte que ve el usuario.  Este conjunto crea la experiencia del usuario
            y recibe los datos del Back-End para mostrarlo de manera que el usuario lo entienda.
          </p>

          <p class="card-text">
            Para ser desarollador Front-End tienes que saber: HTML, CSS y JavaScript con ellos puedes hacer el Front-End de una Web
            , pero hay tecnologías que deberías aprender como Frameworks y Librerías. Estas tecnologías te harán el trabajo mucho
            más fácil y te va a ahorrar mucho tiempo.

          </p>

        </div>
    </div>

    <div class="card" style="width: 100%">
      <img src="assets/img/des-principiantes/back1.jpg" class="card-img-top" alt="Ejemplo Back-End">
      <div class="card-body">
        <h5 class="card-title">Back-End</h5>
        <p class="card-text">
          El backend es la parte del desarrollo web que se encarga de que toda la lógica de una página web funcione.
          Esta parte es la que se encarga de almacenar datos(imagenes, textos, archivos, etc), llevar los datos al Front-End
          y  devolverlos cuando sea requerido.
        </p>

        <p class="card-text">
          Estas son alguna cosas que tienes que aprender del Back-End-End:
        </p>

        <ul style="padding-left: 20px;">
          <li>Base de datos y caché</li>
          <li>APIs(REST)</li>
          <li>Lenguajes de Servidor</li>
        </ul>

      </div>
  </div>
  </div>

    <div class="div-area">
      <h3>¿Cual debería aprender?¿Desarrollo Back-End o Front-End?</h3>
      <p>
        Deberías aprender el que más te guste, pero <span class="resaltado">yo</span> te recomendaría aprender
        los dos o aprender algún <span class="resaltado">Stack</span>, ya que va a beneficiarte tanto profesionalmente
        como laboralmente. Acá abajo te dejo lo que deberías aprender de cada uno.
      </p>

      <h4 class="subtitle">Front-End</h4>
      <p>
        <span style="color: #050f35;"class="resaltado">Frameworks y Librerías JavaScript: </span>
        Un framework es una herramienta de desarrollo web que se define como una aplicación o conjunto de módulos
        que permiten el desarrollo rápido y ágil de aplicaciones ya que tienen librerías y/o funcionalidades ya creadas.
        Básicamente hace el trabajo de desarollador mas rápido y fácil. Estos son algunos <strong>Frameworks JavaScript más populares:</strong>Angular, React y Vue.
        Los tres son muy buenos, te recomiendo que los investigues para sepas cual es el que más te conviene o que más te interesa para lo que quieres hacer.
      </p>


    <p>
      <span style="color: #050f35;"class="resaltado">Frameworks CSS: </span>
      Un framework de CSS es una biblioteca de estilos genéricos que puede ser usada para implementar
      diseños web(como botones, iconos, targetas, etc). Los frameworks CSS vienen con clases ya creadas,
      esto te va ahorrar mucho tiempo al crear una página web. Uno de los <strong>Frameworks CSS más Populares</strong> es
      <span class="resaltado">Bootstrap.</span>

    </p>

    <p>
      <span style="color: #050f35;"class="resaltado">Pre Procesadores de CSS: </span>
      Un preprocesador de CSS es una herramienta que nos permite escribir pseudo-código CSS que luego será convertido a CSS real
      . Básicamente hace que este lenguaje de diseño tenga variables, condiciones, bucles o funciones como un lenguaje como JavaScript.
      <br>
      <span class="resaltado">Estos son algunos de los mas conocidos</span> Sass, Less y Stylus.

    </p>

    <h4 class="subtitle">Back-End</h4>
    <p>
      <span style="color: #09354c;" class="resaltado">Lenguaje de Base de Datos:</span> Además de los lenguajes de programación, tienes que aprender un lenguaje de
      bases de datos para poder almacenar la información, que es lo mas importante de cualquier aplicación web
      .

    </p>

    <p>
      <span style="color: #09354c;" class="resaltado">Lenguaje del lado del servidor:</span> Se conoce como lenguaje del lado del servidor a aquel que se ejecuta en el servidor web,
      inmediatamente antes de que el sitio web se envíe a través de Internet al usuario. Este se encarga de recibir solicitudes de clientes que solicitan páginas
      HTML u otro tipo de archivos como imágenes y entregarlos al usuario. <span class="resaltado">Algunos lenguajes de servidor son</span>PHP, <strong>Node.JS
      (programación backend en JavaScript)</strong>, Python, entre otros.
    </p>


    <p>
      <span style="color: #09354c;" class="resaltado">Frameworks y Librerías:</span> El Framework sigue siendo una grán ayuda al desarrollar
      como en el Front-End pero en este caso todos los frameworks tienen la principal tarea de crear un servidor web.
    </p>

    </div>

    <p class="resaltado">
      He tratado de simplificar lo más posible este articulo para guiarte en el desarrollo web desde el punto de vista de alguien que no sabe
      nada sobre el desarrollo web. Se que esto te puede parecer mucho ahora pero cuando empieces a aprender te daras cuenta que no.
    </p>

  </div>

  <div class="resumen">
    <h3 style="color: #638ea4;">Consejo</h3>
    <p>
     Habras notado que no hay un solo camino por donde empezar en esto  y como en este articulo no voy a venderte un curso o libro de programación, no voy a
      recomendarte ningún lenguaje.
    </p>

    <h4>Te aconsejo Aprender un Stack</h4>
    <h5>¿Que es un Stack?</h5>
    <p>
      Básicamente, es una lista de todos los servicios tecnológicos utilizados para construir y ejecutar una sola aplicación.
      Facebook, por ejemplo, está compuesto por una combinación de frameworks de codificación y lenguajes, entre los que se incluyen JavaScript, HTML, CSS, PHP y ReactJS.
      Este es el “stack tecnológico” de Facebook.
    </p>
    <p>
      Por lo general un Stack tiene todo nescesario para crear una web(o aplicación) y te será más fácil buscar un Stack, a tener que buscar Framework por Framework y lenguaje por lenguaje.
    </p>

    <strong>Stacks más populares:</strong>
    <ul class="lista">
      <li>MEAN Stack</li>
      <li>MERN Stack</li>
      <li>MEVN Stack</li>
      <li>LAMP Stack</li>
    </ul>
    <p>Te recomiendo buscar más información sobre estos u otros stacks.</p>
  </div>

</div>
